body{
    margin: 0.2%;
   background-color: lavender;
}
#navbar{
    background-color: white;
    font-size: 25px;
     display: flex;
     gap: 1050px;
     padding:2%;
     
    
 }
 #navbar>div:last-child{
    display: flex;
    justify-content: space-between;
    gap: 30px;

 }
#navbar>div{
    width:30px;
    color:blue;
    margin-right:40px;
    
}
a{
    text-decoration: none;
}